*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    outline: none;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

header{
    width: 100vw;
    height: 100px;
    border-bottom: 2px solid #dddd;
    text-align: center;
}

header>h1{
    padding-top: 30px;
}

.admin-content{
    display: flex;
}

.admin-content-left{
    background-color: #dddddddd;
    width: 20%;
    padding: 30px 0 30px 15px;
}

.admin-content-left>li{
    font-size: 18px;
    position: relative;
    cursor: pointer; 
}

.admin-content-left>li>a{
    font-weight: bold;
}

.bold-text{
    font-weight: bold;
}

.admin-content-left> ul> li> a{
    font-weight: bold;
}

.admin-content-left ul li{
    margin: 6px 0;
}

.admin-content-left ul ul{
    margin-left: 15px;
}

.admin-content-right{
    width: 80%;
    padding: 30px 0 0 12px;

}

.admin-content-right-category_add input{
    height: 30px;
    width: 200px;
    padding-left: 12px;
    margin-top: 20px;

}

.admin-content-right-category_add button{
    display: block;
    margin-top: 10px;
    height: 30px;
    width: 100px;
    cursor: pointer;
    background-color: brown;
    border: none;
    color: white;   
}

.admin-content-right-category_add button:hover{
    background-color: transparent;
    color: brown;
    border: 1px solid brown;
}

/* Categorylist */
.admin-content-right-category_list table{
    width: 100%;
    margin-top: 20px;
    text-align: center;
}

.admin-content-right-category_list table tr th,td{
    border: 1px solid #dddddd;
}

table{
    border-collapse: collapse;
}

button{
    width: 40px;
}

/* Product */

.admin-content-right-product_add h1{
    margin-bottom: 20px;
}

.admin-content-right-product_add input, select{
    width: 200px;
    height: 30px;
    display: block;
    margin: 4px 0 12px;
}

.admin-content-right-product_add button{
    display: block;
    margin-top: 10px;
    height: 30px;
    width: 100px;
    cursor: pointer;
    background-color: brown;
    border: none;
    color: white;
}

.admin-content-right-product_add button:hover{
    background-color: transparent;
    color: brown;
    border: 1px solid brown;
}